---
import Form from "../ui/Form.astro";
import SectionTitle from "../ui/SectionTitle.astro";
import Section from "./Section.astro";
---

<Section id="contact">
  <div class="mb-[140px] relative">
    <SectionTitle
      sectionTitle="Entre em Contato"
      description="Proteja o seu patrimônio com o CURUPIRA. Quer ser um dos primeiros a utilizar nossa tecnologia?"
    />
    <Form />
  </div>
</Section>
